{
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-modules-commonjs",
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-private-methods",
    "@babel/plugin-proposal-export-namespace-from",
    [
      "@babel/plugin-proposal-decorators",
      {"decoratorsBeforeExport": true, "legacy": false}
    ],
    ["@babel/plugin-proposal-class-properties", {"loose": false}]
  ]
}
